@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,300;1,400&display=swap');

$main-font: 'Roboto', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; }

.app {
    font-family: $main-font;
    min-height: 100%;
}

nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    display: flex;
    min-height: 10vh;
    background-color: #2d2d62;
    align-items: center;

    .logo {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        margin-left: 2rem;
    }

    .header {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        margin-left: .75rem;
    }
}

//Cross Backgrounds
.center-container {
    height: 100vh;
    z-index: -999;
    background: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay {
        z-index: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5)
    }
}

// Main Page Content 
.main-content {
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.shop-button {
    margin: 1rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        transform: scale(1) perspective(1px)
    } 
}

//Shop Page Content
.shop-content {
    z-index: 999;
    position: absolute;
    margin-top: 2rem;
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow-y: scroll;
}

//Items Container
.items-container {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;

    // Individual Items Styling
    .item-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 80%;
    }

    .product-photo {
        width: auto;
        max-height: 25vh;
    }

    .product-description {
        margin-top: .5rem;
        text-align: center;
        font-size: 1rem;
    }

    .select-container {
        margin-top: .5rem;
        display: flex;
        justify-content: center;
        
        input {
            width: 25%;
            margin: 0rem .5rem;
        }

        .icon {
            color: #2d2d62;
        }
    }

    .add {
        margin-top: .25rem;
        padding: .25rem .25rem;
        background-color: #2d2d62;
        color: white;
        border: none;
        border-radius: 3px;
        
    }
}

//Cart Section 
.cart-section {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

//Cart Section Top Half
.top-half {
    height: 100%;
    width: auto;
    grid-row: 1 / 2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    font-size: 2rem;

    * {
        margin: 1rem;
    }

    .cart-icon {
        font-size: 2rem;
    }
}

.cart-items {

    ul {
        display: flex;
        flex-direction: column;
    }
    
    * {
        margin: .35rem;
        display: flex;
        justify-content: space-between;
    }
}

//Cart Section Bottom Half
.bottom-half {
    height: 100%;
    width: auto;
    grid-row: 2 / -1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        margin: 1rem;
    }
}

.cart-total, .cart-amount {
    font-size: 1.5rem;
    font-weight: bold;
}

.checkout-button {
    margin: 1rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #2d2d62;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}


